.app {
  background-color: beige;
  height: 100vh;
  text-align: center;
}

.colors-section {
  height: 50vh;
  background-color: white;
}

.generate-palette {
  background-color: beige;
  font-size: 25px;
  height: 50px;
  margin-top: 5px;
  width: 300px;
}

.generate-palette:hover {
  background-color: yellow;
  border: 2px solid black;
}
