.app {
  height: 100vh;
  text-align: center;
}

.colors-section {
  height: 40vh;
  background-color: white;
}

.generate-palette {
  background-color: beige;
  border-radius: 20px;
  font-size: 25px;
  height: 35px;
  margin-top: 5px;
  width: 300px;
}

.generate-palette:hover {
  background-color: yellow;
  border: 2px solid black;
}

.forms-section {
  align-items: center;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
}
